<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form{
            display:table;
            width:95%;
        }
        p{
            display: table-row;
        }
        label{
            display: table-cell;
            vertical-align: top;
        }
        input{
            display: table-cell;
        }
        #full{
            width:100%;
        }
        #blue {
            color: blue;
        }
        a {
            color: rgba(145, 130, 0, 0.671);
        }
    </style>
    <title>Edit</title>
</head>
<body>
    <div class="card">
        
        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px">
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Edit recipe (with prepopulated info) -->
        <div class="card-body">
            <div class="col p-4 bg-light m-4 border">
                <br>
                {% if messages %}
                <ul class = "messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form action="/recipes/{{ recipe.id }}/update" method="POST">
                    {%csrf_token%}
                    
                </form>
                <form action="/homepage" method="post">
                    {%csrf_token%}
                    <input type="submit" value="Cancel" class="btn btn-danger">
                </form>
                <br>
            </div>
        </div>

    </div>
</body>
</html>