<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        #blue {
            color: rgb(148, 147, 147);
            text-decoration: underline;
        }
        a {
            color: rgba(145, 130, 0, 0.671);
        }
        #space {
            margin-right: 50px;
            margin-left: -10px;  
        }
    </style>
    <title>Edit Profile</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <form class="form-inline float-right">
                    <input class="form-control mr-sm-2" type="search"  id="icon" placeholder="Search the Databake" aria-label="Search">
                    <button class="btn btn-dark my-2 my-sm-0" id="space" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a href="/homepage"><img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px"></a>
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link active" href="/profile/{{ user.id }}">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card-body">
            <br>
            {% if messages %}
            <ul class = "messages">
                {% for message in messages %}
                    <li {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="/update_profile" method="POST">
                {%csrf_token%}
                <h4>{{ user.first_name}} {{ user.last_name }}</h4>
                <p>Title:</p>
                <input value="{{ profile.title }}" type="text" name="title">
                <br>
                <p>Location:</p>
                <input value="{{ profile.location }}" name="location" type="text">        
                <br>
                <p>Bio:</p>
                <input value="{{ profile.bio }}" name="bio" type="text">
                <br><br>
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
            <form action="/profile" method="post">
                {%csrf_token%}
                <input type="submit" value="Cancel" class="btn btn-danger">
            </form>
            <br>
        </div>
    </div>
</body>
</html>