<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #blue {
            color: blue;
        }
        a {
            color: rgba(145, 130, 0, 0.671);
        }
    </style>
    <title>Main Page</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px">
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link active" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Category Nav -->
        <div class="card-body">
            <div class="row">
                <div class="col-3 border">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a id='doughs' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-doughs" aria-selected="false">Doughs</a>
                    <a id='creams' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-creams" aria-selected="false">Creams</a>
                    <a id='mousses' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-mousses" aria-selected="false">Mousses</a>
                    <a id='glazes' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-glazes" aria-selected="false">Glazes</a>
                    <a id='sponges' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-sponges" aria-selected="false">Sponges</a>
                    <a id='syrups' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-syrups" aria-selected="false">Syrups</a>
                    <a id='confection' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-confectionary" aria-selected="false">Confectionary</a>
                    <a id='other' class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-other" aria-selected="false">Other</a>
                  </div>
                </div>
                <div class="col-9">
                  <div  id='pageload' class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-doughs-tab">
                        {% for recipe in recipes %}
                                <div class = "border">
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
            <input id="my" type="hidden" value="home">   
        </div>
    </div>
</body>
<script src="../static/js/recipe.js"></script>
</html>