<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Main Page</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right">Log Out</a> 
                <img src ="https://i.ibb.co/c6pzmn5/DataBake.png" alt="DataBake logo" width = "20%">
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="First group" >
                    <form action="/homepage" method="post">
                        {%csrf_token%}
                        <input type="submit" value="The DataBake" class="btn btn-dark" id="header1">
                    </form>
                </div>
                <div class="btn-group mr-2 align-right" role="group" aria-label="Second group" id="right">
                    <form action="/profile" method="post">
                        {%csrf_token%}
                        <input type="submit" value="Me" class="btn btn-dark" id="header2">
                    </form>
                    <form action="/my_recipes" method="post">
                        {%csrf_token%}
                        <input type="submit" value="My Recipes" class="btn btn-dark" id="header3">
                    </form>
                </div>
            </div>
        </div>

        <!-- Category Nav -->
        <div class="card-body">
            <div class="row">
                <div class="col-3 border">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-doughs" aria-selected="true">Doughs</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-creams" aria-selected="false">Creams</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-mousses" aria-selected="false">Mousses</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-glazes" aria-selected="false">Glazes</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-sponges" aria-selected="false">Sponges</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-syrups" aria-selected="false">Syrups</a>
                    <a class="nav-link" data-toggle="pill" href="/categories" role="tab" aria-controls="v-pills-confectionary" aria-selected="false">Confectionary</a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-doughs-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == dough  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-creams-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == cream  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-mousses-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == mousse  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-glazes-tab">
                        {% for recipe in all_recipes %}
                            {% if recipe.recipe_categories.category_name == glaze  %}
                                <div class = "border">
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-sponges-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == sponge  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-syrups-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == syrup  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-confectionary-tab">
                        {% for recipe in all_categories %}
                            {% if category_name == confectionary  %}
                                <div class = "border">
                                    {{ recipe.for_recipe }}
                                    <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
               
        </div>
    </div>
</body>
</html>