<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        #blue {
            color: rgb(148, 147, 147);
            text-decoration: underline;
        }
        a {
            color: rgba(145, 130, 0, 0.671);
        }
        #create {
            background-color:rgb(185, 185, 0);
            color:white;
            font-weight:550;
        }
        #space {
            margin-right: 50px;
            margin-left: -10px;  
        }
    </style>
    <title>Upload Photo</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <form class="form-inline float-right">
                    <input class="form-control mr-sm-2" type="search"  placeholder="Search" aria-label="Search" style="width: 60%;">
                    <button class="btn btn-dark my-2 my-sm-0" id="space" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a href="/homepage"><img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px"></a>
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link active" href="/profile/{{ user.id }}">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Profile Info -->
        <div class="card-body">
            <div class="row">
                <div class="col-5">

                    <p>Current Photo:</p>

                    <img src="{{ user.image }}" alt="user_profile_picture" class="border" style="width:200px">

                    <!-- photo upload -->
                    <form action="/profpic/{{ user.id }}" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="profile_photo">
                              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <button class="btn btn-dark" type="submit" id="inputGroupFileAddon04">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>