<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Main Page</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px">
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link active" href="/profile">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Profile Info -->
        <div class="card-body">
            <div class="row">
                <div id='user_img' class="col-3">
                    <img src="{{ logged_user.image.url }}" alt="user_profile_picture" class="border" style="width:200px">
                    <br>
                    <a href="/profpic">Edit Profile Picture</a> 
                </div>
                <div class="col-7">
                    <h1>{{logged_user.first_name}} {{ logged_user.last_name }}</h1>
                    <p>Title: {{logged_user.title}}</p>
                    <p>location : {{logged_user.city}} {{logged_user.state}}</p>
                    <a href="/edit_profile" class="float-right">Edit Profile</a> 
                    <p class="text-muted font-weight-lighter font-italic">{{ user.user_profile.location }}</p>
                    <p class="font-weight-bold">Bio:</p>
                    <div id='bio' class="border">
                        <p class="text-smaller">{{ logged_user.bio }}</p>
                    </div>
                    <form action="/create" method="post">
                        {%csrf_token%}
                        <input type="submit" value="Create New Recipe" class="btn btn-secondary" id="header3">
                    </form>
                    <p class="font-weight-bold">Posted Recipes:</p>
                    {% for recipe in recipes %}
                        <div class = "border">
                            <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_title }}</a></td>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>