<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <style>
        #edit_title{
            width: 60%;
            height: 4rem;
            font-size: 30px;
        }
        #edit_description{
            width: 95%;
            height: auto;
        }
        #blue {
            color: blue;
        }
        a {
            color: rgba(145, 130, 0, 0.671);
        }
    </style>
    <title>Book Info</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px">
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id='recipe_photo'>
            <h3>Create Recipe:</h3>
            <img src="../static/img/Placeholder.png" alt="image placeholder">
            <a>Upload Photo</a>
        </div>
        <div id="recipe">
            <form action="\newrecipe" method="post">
                {% csrf_token %}
                <input id='title' type="text" placeholder="Title">
                <label id='category'>Category: <select id='cat' name="category">
                        <option value="Doughs">Doughs</option>
                        <option value="Creams">Creams</option>
                        <option value="Mousses">Mousses</option>
                        <option value="Glazes">Glazes</option>
                        <option value="Sponges">Sponges</option>
                        <option value="Syrups">Syrups</option>
                        <option value="Confectionary">Confectionary</option>
                        <option value="Other">Other</option>
                    </select>
                </label>
                <div id="ing">
                    <table id='table'>
                        <tr>
                            <td><input type="text" name="qty" id="qty" val=''></td>
                            <td><select name="meas" id='meas'>
                                <option value="cup">cup</option>
                                <option value="pint">pint</option>
                                <option value="quart">quart</option>
                                <option value="tablespoon">tablespoon</option>
                                <option value="teaspoon">teaspoon</option>
                            </select></td>
                            <td><input type="text" name="ingredient" id="ingredient" placeholder="ingredient"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="qty" id="qty"></td>
                            <td><select name="meas" id='meas'>
                                <option value="cup">cup</option>
                                <option value="pint">pint</option>
                                <option value="quart">quart</option>
                                <option value="tablespoon">tablespoon</option>
                                <option value="teaspoon">teaspoon</option>
                            </select></td>
                            <td><input type="text" name="ingredient" id="ingredient" placeholder="ingredient"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="qty" id="qty"></td>
                            <td><select name="meas" id='meas'>
                                <option value="cup">cup</option>
                                <option value="pint">pint</option>
                                <option value="quart">quart</option>
                                <option value="tablespoon">tablespoon</option>
                                <option value="teaspoon">teaspoon</option>
                            </select></td>
                            <td><input type="text" name="ingredient" id="ingredient" placeholder="ingredient"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="qty" id="qty"></td>
                            <td><select name="meas" id='meas'>
                                <option value="cup">cup</option>
                                <option value="pint">pint</option>
                                <option value="quart">quart</option>
                                <option value="tablespoon">tablespoon</option>
                                <option value="teaspoon">teaspoon</option>
                            </select></td>
                            <td><input type="text" name="ingredient" id="ingredient" placeholder="ingredient"></td>
                        </tr>
                    </table>
                    <a id='add_ing' href="#">+ Add ingredient</a>
                    <label> Directions:<textarea name="dir" class="dir" id="dir" placeholder="Type here"></textarea></label>
                    <label id='privacy'>Privacy: <select id='pri' name="privacy">
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </label>
                    <button id='rec' type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../static/js/recipe.js"></script>
</html>