<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipe_info.css' %}">
    <title>Book Info</title>
</head>
<body>
    <div class="card">

        <!-- Logo and name header -->
        <div class="card-header">
            <div class="col">
                <a href="/logout" class="float-right" id="blue">Log Out</a> 
                <img src ="https://i.ibb.co/pjHVs2J/Data-Bake-removebg.png" alt="DataBake logo" width = "220px">
            </div>
            <br>
            <div>
                <ul class="nav nav-tabs float-left nav-fill" style="width:50%">
                    <li class="nav-item">
                      <a class="nav-link" href="/homepage">The Databake</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs justify-content-end nav-fill" style="width: 50%;">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/{{request.session.id}}">Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/my_recipes">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="row card-body">
            <!-- Recipe info  -->
            <div id='wrapper' class="col p-4 bg-light m-4 border">
                
                <h3>{{ recipe.recipe_title }}</h3>
                <p>Ingredients: </p>
                <table>
                    {% for r in recipe.recipe_ingredients.all %}
                    <tr>
                        <td>{{r.ingredient_quantity}}</td>
                        <td>{{r.ingredient_measurement}}</td>
                        <td>{{r.ingredient_name}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p>Directions: </p>
                <p>{{recipe.recipe_directions}}</p>
                <div id="message">
                    <h4>Leave a message</h4>
                    <form id="mess_form" action="\message/{{recipe.id}}" method="POST">
                        {% csrf_token %}
                        <textarea name="message"></textarea>
                        <button id='post_mess' type='submit'>Post</button>
                        <input type="hidden" name="recipe" value="{{recipe.id}}">
                    </form>
                </div>
                <div id="load">
                    {% for m in message %}
                    <div class="mess">
                        <p>{{m.messages}}</p>
                    </div>
                    <div id="comment">
                        <div class="comm">
                            {% for c in m.recipe_comment.all %}
                            <div class="reply">
                                <p>{{c.comment}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <form class="comm_form" action="\comment/{{recipe.id}}" method="POST">
                            {% csrf_token %}
                            <textarea name="comment" placeholder="write a comment"></textarea>
                            <input type="hidden" name='message' value="{{m.id}}">
                            <input type="hidden" name="recipe" value="{{recipe.id}}">
                            <button class='post_comm' type="submit">Comment</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <div id="bio">
                    <p>Created On: {{ recipe.created_at }}</p>
                    <p>Last updated: {{ recipe.updated_at }}</p>
                    <p>Created by: {{ recipe.uploaded_by.first_name }} {{ recipe.uploaded_by.last_name }}</p>
                </div>
                <br>
                <br>                
                <br>
                <div id="footer">
                    {% if recipe not in user.added_by.all %}
                        <a href="/recipe/{{ recipe.id }}/add">Add to My Recipes</a>
                    {% else %}
                        <a href="/recipe/{{ recipe.id }}/remove">Remove from My Recipes</a>
                    {% endif %}
                    <br>
                    <br>
                    <a href="/recipe/{{ recipe.id }}/delete">Delete Recipe</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/recipe.js"></script>
</html>