<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        img{
            margin-left: -150px;
        }
        #white {
            color: whitesmoke;
            -webkit-text-stroke-width: 1px; 
            -webkit-text-stroke-color: black; 
            font-weight: bold;
        }
        form {
            text-align: center;
        }
    </style>
    <title>DataBake</title>
</head>
<body>
    <div class="container" style="background-image: url(https://i.ibb.co/3rfVcmY/Data-Bake-Background.jpg);">
        
        <div class="mx-auto" style="width: 200px;">
            <a href="/"><img src = "https://i.ibb.co/MZjYj1t/Data-Bake-logo-white.png" alt="DataBake-logo" width = "250%"></a>
            <p class="font-italic border-black" id="white">By Bakers, For Bakers</p>
        </div>

        <div class="col-9 mx-auto border border-white rounded-lg" style="background-color: whitesmoke; overflow-x: auto;">

            <ul class="messages">    
                {% for message in messages %}    
                <li class="text-danger font-italic" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>

            <form action="/register" method="POST">
                {% csrf_token %}

                <table class ="table mx-auto">


                    <tbody>
                        <tr> 
                            <th style="text-align:right "> <p>First Name: </th> 
                            <th style="text-align:left"> <input type="text" name="first_name"></p></th>
                            <th style="text-align:right"> <p>Last Name: </th>
                            <th style="text-align:left"> <input type="text" name="last_name"></p></th>
                        </tr>
                        <tr> 
                            <th style="text-align:right"> <p>Email: </th>
                            <th style="text-align:left"> <input type="text" name="email"></p></th>
                            <th style="text-align:right"> <p>Username: </th>
                            <th style="text-align:left"> <input type="text" name="user_name"></p></th>
                        </tr>
                        <tr> 
                            <th style="text-align:right"> <p>Password: </th>
                            <th style="text-align:left"> <input type="password" name="password"></p></th>
                            <th style="text-align:right"> <p>Confirm Password: </th>
                            <th style="text-align:left"> <input type="password" name="confirm"></p></th>
                        </tr>                                                
        
                        <table class="table">
                            <tbody style="width: 200px;">
                                <tr> 
                                    <th style="text-align:right"> <p>Zipcode: </th>
                                    <th style="text-align:left"> <input type="text" name="zipcode" style="width:100px"></p></th>
                                    <th style="text-align:right"> <p>State: </th>
                                    <th style="text-align:left"> <input type="text" name="state" style="width:50px"></p>
                                    <th style="text-align:right"> <p>City: </th>
                                    <th style="text-align:left"> <input type="text" name="city" style="width:80px"></p></th>
                                </tr>
                            </tbody>
                        </table>
                    </tbody>
                </table>

                <table class="table mx-auto">
                    <tbody>
                        <tr col="1"> 
                            <th style="text-align:right"> <p>Current Position: </th>
                            <th> <input type="text" name="title" style="width:500px"></p></th>
                        </tr>
                        <tr col="3">
                            <th style="text-align:right"> <p>Tell us about you:</p> </th>
                            <th> <textarea type="text" name="bio" id="textbox" style="width:100%"></textarea></th>
                        </tr>
                    </tbody>
  
                </table>

                <input type="submit" value="Create" class="btn btn-warning mx-auto">
                
            </form>
            <br>

        </div>
        <br>
        <br>
        <br>
    </div>