*{
    /* outline: 1px dashed red; */
}
#edit_title{
    width: 60%;
    height: 4rem;
    font-size: 30px;
}
#edit_description{
    width: 95%;
    height: auto;
}
#blue {
    color: blue;
}
a {
    color: rgba(145, 130, 0, 0.671);
}
td{
    padding: 0px 10px;
}
table{
    margin-bottom: 20px;
}
p{
    margin-bottom: 3px;
}
#bio{
    margin-top: 25px;
}
#wrapper a{
    display: block;
}
#message h4{
    margin-top: 25px;
}
#message textarea{
    width: 800px;
    height: 75px;
    border-radius: 5px;
}
#message button{
    margin: 10px 0px 20px 748px;
    padding: 1px 10px;
    background-color: darkslategray;;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.mess{
    width: 800px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    margin-bottom: 10px;
}
#comment textarea{
    width: 750px;
    height: 60px;
    border-radius: 5px;
    margin-left: 50px;
    padding-left: 5px;
}
.comm{
    margin-left: 50px;
}
#comment button{
    margin: 10px 0px 20px 709px;
    padding: 1px 10px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.reply{
    width: 750px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding-left: 5px;
}
